<h2>Children</h2>
  
<%= @parent.first_name %> <%= @parent.last_name %>
<ol>
<% @children.each do |child| %>
  <li><%= link_to child.first_name, parent_child_path(@parent, child) %> <%= child.last_name %></li>
<% end %>
</ol>

<%= link_to 'family page', parent_path(@parent)  %>