<h2>Child's detail information</h2>

<%= @child.first_name %> <%= @child.last_name %></br>

<%= link_to 'Edit', edit_parent_child_path(@parent, @child) %> |
<%= link_to 'children page', parent_children_path(@parent) %> |
<%= link_to 'family page', parent_path(@parent) %>
