<h2>New schedule</h2>

<%= form_for ([@child, @schedule]) do |schedule| %>
  <div>
    <%= schedule.label :date %>
    <%= schedule.text_field :date, class: 'date-format' %>
  </div>

  <p>
    <%= schedule.label :time_in %>
    <%= schedule.time_select :time_in %>
  </p>

  <p>
    <%= schedule.label :time_out %>
    <%= schedule.time_select :time_out %>
  </p>

  <%= schedule.submit %>

<% end %> 