<h2>Child's schedule</h2>
  Child_id: <%= @schedule.child_id %>
<ul>
<li><%= @schedule.date %></li>
<li><%= @schedule.time_in %></li>
<li><%= @schedule.time_out %></li>

<%= link_to 'Home', root_path %>