<%= form_for ([@parent, @child]) do |child| %>
  <p>
    <%= child.label :first_name %>
    <%= child.text_field :first_name %>
  </p>

  <p>
    <%= child.label :last_name %>
    <%= child.text_field :last_name %>
  </p>

  <div class="category-control">
    <%= child.label :day %>
    <% Calendar.all.order(day: :asc).each do |day| %>
     <div>
        <%= check_box_tag day %>
        <%= day.day %>
    </div>
    <% end %>
  </div>

  <p>
    <%= child.submit %>
  </p>
<%= link_to 'Back', parent_children_path(@parent) %>
<% end %>