<h2>A parent and their children</h2>

<%= form_for @parent do |f| %>
 
    <%= @parent.first_name %>
    <%= @parent.last_name %></br>
    <%= @parent.address %>
    <%= @parent.phone %></br>
    
  
 
  <ol>
  <% @parent.children.each do |child| %>
    <li><%= link_to child.first_name, parent_child_path(@parent, child) %> <%= child.last_name %></li>
  <% end %>
  </ol>

<%= link_to 'home', parents_path %>

<%= link_to 'Add a child', new_parent_child_path(@parent) %>
<% end %>

