<h2>A parent and their children</h2>

<%= form_for @parent do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %></br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %></br>

  <%= f.label :address %>
  <%= f.text_field :address %></br>

  <%= f.label :phone %>
  <%= f.text_field :phone %></br>
 
  <ul>
  <% @parent.children.each do |child| %>
    <li><%= link_to child.first_name, parent_children_path(@parent, @child) %></li>
  <% end %>
  </ul>

<%= link_to 'index', parents_path %>
<% end %>
