<h2>A parent and their children</h2>

<%= form_for @parent do |f| %>
 
    <%= @parent.first_name %>
    <%= @parent.last_name %></br>
    <%= @parent.address %>
    <%= @parent.phone %></br>
  
 
  <ol>
  <% @parent.children.each do |child| %>
    <li><%= link_to child.first_name, child %></li>
  <% end %>
  </ol>

<%= link_to 'index', parents_path %>
<% end %>

